@import "../node_modules/include-media/dist/_include-media.scss"; 

$breakpoints: (sm: 375px, md: 768px, lg: 1024px, xl: 1264px);
$font-heading: 'Juana';
$shadow: #191919;

body {
    margin: 0;
}

.hero-container {
    display: flex;
    align-items: center;
    width: 100%;
}

.hero {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 8;
}

h1 {
    text-align: center;
    color: white;
    font-family: $font-heading;
    font-size: 32px;
    margin: 0 auto;
    position: absolute;
    font-weight: 300;
    width: 100%;
    z-index: 10;

    @include media ( ">=md" ) {
        font-size: 48px;
    }
}

.heading-shadow {
    display: flex;
    background-color: $shadow;
    width: 130px;
    height: 40px;
    opacity: 0.43;
    mix-blend-mode: normal;
    filter: blur(43.4925px);
    margin: 0 auto;
    position: absolute;
    z-index: 9;
    left: 50%;
    transform: translate(-50%);

    @include media ( ">=md" ) {
        height: 87px;
        width: 338px;
    }
}