@import "../node_modules/include-media/dist/_include-media.scss"; 

// have added in xxl breakpoint as hero section image gets larger with screen size however the height: auto option is not working for me so have had to increase height instead
$breakpoints: (sm: 375px, md: 768px, lg: 1024px, xl: 1264px, xxl: 1450px);
$font-heading: 'Juana';

body {
    margin: 0;
}

.hero {
    // this isn't working - why? added style to div instead. Image tag from this page doesn't work but it does from my explorer panel
    // background-image: url("img/hero2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    text-align: center;
    height: 432px;
    position: relative;
    line-height: 40px;

    @include media ( ">=md" ) {
        height: 277px;
        line-height: 56px;
    }

    @include media ( ">=lg" ) {
        height: 369px;
    }

    @include media ( ">=xl" ) {
        height: 420px;
    }

    @include media ( ">=xxl" ) {
        height: 500px;
        //made up 500px height based on tws website not figma
    }
}

h1 {
    color: white;
    font-family: $font-heading;
    font-size: 48px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    font-weight: 300;
    width: 100%;
}
