body {
  margin: 0;
}

.header {
  height: 48px;
  font-weight: 400;
  font-size: 14px;
}
@media (min-width: 768px) {
  .header {
    height: 56px;
  }
}
@media (min-width: 1024px) {
  .header {
    height: 125px;
  }
}
.header__container {
  max-width: 1264px;
  margin: 0 auto;
  width: 100%;
}

.hamburger {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }
}
.hamburger__img {
  margin: 16px 16px 0px;
  cursor: pointer;
}
@media (min-width: 768px) {
  .hamburger__img {
    margin: 19px 16px 0px;
  }
}

.nav {
  line-height: 20px;
  color: #191919;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  position: relative;
  height: 48px;
  font-family: "Karla Regular";
}
@media (min-width: 768px) {
  .nav {
    height: 56px;
  }
}
@media (min-width: 1024px) {
  .nav {
    line-height: 24px;
    height: 61px;
  }
}
.nav__column {
  width: 33.33%;
}

.logo {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.logo__bow {
  height: 10px;
  width: 19px;
  margin: 12px 0px 0px;
}
@media (min-width: 1024px) {
  .logo__bow {
    height: 19px;
    width: 37px;
    margin: 16px 0px 0px;
  }
}
.logo__name {
  width: 117px;
  height: 6.5px;
  margin: 7px 0px 0px;
}
@media (min-width: 1024px) {
  .logo__name {
    width: 220px;
    height: 12px;
    margin: 13px 0px 0px;
  }
}

.control {
  -moz-text-align-last: right;
       text-align-last: right;
}
.control__option {
  text-align: center;
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 20px;
  text-align: center;
  margin: 14px 56px 0px 0px;
}
@media (min-width: 768px) {
  .control__option {
    margin: 16px 56px 0px 0px;
  }
}
@media (min-width: 1024px) {
  .control__option {
    margin: 24px 16px 0px 0px;
    height: 24px;
  }
}

.link {
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}

.create {
  background: #142D3B;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 94px;
  padding: 4px 16px;
  margin-right: 32px;
}
.create:hover {
  background: #FF6B64;
}
.create__list {
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.4px;
}

.create, .findCouple {
  display: none;
}
@media (min-width: 1024px) {
  .create, .findCouple {
    display: inline-block;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: "Karla Regular";
}
@media (max-width: 1023px) {
  .menu {
    display: none;
  }
}
.menu__list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.menu__list--item {
  margin: 32px 8px 0px;
  padding: 0px 0px 8px;
  color: #191919;
  border-bottom: 2px solid #FFFFFF;
  letter-spacing: 0.8px;
  white-space: nowrap;
  list-style: none;
  line-height: 20px;
  cursor: pointer;
}
.menu__list--item:hover {
  border-bottom: 2px solid #FF6B64;
}

.search__img {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 17px 0px 7px 17px;
}
@media (min-width: 768px) {
  .search__img {
    margin: 21px 0px 7px 17px;
  }
}
@media (min-width: 1024px) {
  .search__img {
    margin: 33px 0px 16px 33px;
  }
}

.hero {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.hero__img {
  width: 100%;
  height: auto;
}
.hero__title {
  text-align: center;
  font-family: "Juana";
  font-size: 32px;
  margin: 0 auto;
  position: absolute;
  font-weight: 300;
  width: 100%;
}
@media (min-width: 768px) {
  .hero__title {
    font-size: 48px;
  }
}
.hero__title--withShadow {
  color: white;
  z-index: 1;
}
.hero__title--withShadow::before {
  content: "";
  background-color: #191919;
  width: 130px;
  height: 40px;
  opacity: 0.43;
  mix-blend-mode: normal;
  filter: blur(43.4925px);
  margin: 0 auto;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translate(-50%);
}
@media (min-width: 768px) {
  .hero__title--withShadow::before {
    height: 87px;
    width: 338px;
  }
}/*# sourceMappingURL=style.css.map */