.container {
  max-width: 1264px;
  margin: 0 auto;
}

.header {
  height: 48px;
  font-weight: 400;
  font-size: 14px;
}
@media (>=medium) {
  .header {
    height: 56px;
  }
}
@media (>=large) {
  .header {
    height: 125px;
  }
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}
@media (>=large) {
  .menu {
    display: none;
  }
}

.heading {
  line-height: 20px;
  color: #191919;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  width: 100%;
  position: relative;
  height: 48px;
  font-family: "Karla Regular";
}
@media (>=medium) {
  .heading {
    height: 56px;
  }
}
@media (>=large) {
  .heading {
    line-height: 24px;
    height: 61px;
  }
}

.nav-column {
  width: 33.33%;
}

.logo {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.nav-controls {
  -moz-text-align-last: right;
       text-align-last: right;
}

.nav-option {
  text-align: center;
  position: relative;
  display: inline-block;
  cursor: pointer;
  height: 20px;
  text-align: center;
  margin: 14px 56px 0px 0px;
}
@media (>=medium) {
  .nav-option {
    margin: 16px 56px 0px 0px;
  }
}
@media (>=large) {
  .nav-option {
    margin: 24px 16px 0px 0px;
    height: 24px;
  }
}

.link {
  cursor: pointer;
}
.link:hover {
  text-decoration: underline;
}

.create-list {
  background: #142D3B;
  color: #FFFFFF;
  text-transform: uppercase;
  width: 94px;
  padding: 4px 16px;
  margin-right: 32px;
}
.create-list:hover {
  background: #FF6B64;
}

.create-list, .find-couple {
  display: none;
}
@media (>=large) {
  .create-list, .find-couple {
    display: inline-block;
  }
}

.create-list-text {
  text-align: center;
}

.menu-bar {
  display: none;
}
@media (>=large) {
  .menu-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: "Karla Regular";
  }
}

@media (>=large) {
  .create-list-btn {
    left: 866px;
  }
}
@media (>=x-large) {
  .create-list-btn {
    left: 1106px;
  }
}
.search-icon {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 17px 0px 7px 17px;
}
@media (>=medium) {
  .search-icon {
    margin: 21px 0px 7px 17px;
  }
}
@media (>= large ) {
  .search-icon {
    margin: 33px 0px 16px 33px;
  }
}

.menu-icon {
  margin: 16px 16px 0px;
}
@media (>=medium) {
  .menu-icon {
    margin: 19px 16px 0px;
  }
}

.tws-bow {
  height: 10px;
  width: 19px;
  margin: 12px 0px 0px;
}
@media (>=large) {
  .tws-bow {
    height: 19px;
    width: 37px;
    margin: 16px 0px 0px;
  }
}

.tws-name {
  width: 117px;
  height: 6.5px;
  margin: 7px 0px 0px;
}
@media (>=large) {
  .tws-name {
    width: 220px;
    height: 12px;
    margin: 13px 0px 0px;
  }
}

.menu-list {
  display: flex;
  padding: 0px;
  margin: 0px;
}

.menu-item {
  margin: 32px 4px 0px;
  padding: 0px 0px 8px;
  color: #191919;
  border-bottom: 2px solid #FFFFFF;
  white-space: nowrap;
  list-style: none;
  line-height: 20px;
  cursor: pointer;
}
.menu-item:hover {
  border-bottom: 2px solid #FF6B64;
}
@media (>=x-large) {
  .menu-item {
    margin: 32px 32px 0px;
  }
}

@media (>=x-large) {
  .large {
    display: none;
  }
}
.xl {
  display: none;
}
@media (>=x-large) {
  .xl {
    display: block;
  }
}/*# sourceMappingURL=style.css.map */