
.articles {
    width: 100%;

    &__header {
        text-align: center;
        font-size: 28px;
        max-width: 710px;
        margin: auto;
        padding: 0px 20px 96px;

        @include media ( ">md" ) {
            font-size: 32px;
        }
    }
}

.separator {
    height: 5px;
    background-color: $tws_coral;
    width: 50px;
    align-items: center;
    margin: auto;
    margin-bottom: 32px;
}

.coral {
    color: $tws_coral;
}

.gallery {
    max-width: 1264px;
    width: 100%;
    list-style: none;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 16px;
    margin-bottom: 40px;

    &__row {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        justify-content: space-between;
        list-style: none;
    }

    &__item {
        width: 24%;
        padding-bottom: 1%;

        @include media ( "<md" ) {
            width: 48%;
            padding-bottom: 3%;
        }

        &--hide {
            @include media ( "<=md" ) {
                display: none;
            }
        }
    }

    &__image {
        aspect-ratio: 1/1;
        width: 100%;
        object-fit: cover;
    }
}

// .gallery2 {
//     &__list {
//       display: flex;
//       flex-wrap: wrap;
//       list-style: none;
//       justify-content: space-between;
//       padding: 0;
//     }
  
//     &__item {
//       width: 24%;
//       padding-bottom: 1%;
  
//       @include media("<md") {
//         width: 48%;
//         padding-bottom: 3%;
//       }
//     }
  
//     &__img {
//       aspect-ratio: 1/1;
//       width: 100%;
//       object-fit: cover;
//     }
//   }
  
//   .container {
//     box-sizing: border-box;
//     max-width: 1280px;
//     width: 100%;
//     margin: 0 auto;
//     padding: 0 16px;
//   }