.floating {
    margin-top: 52px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: absolute;

    @include media ( ">md" ) {
        text-align: center;
    }

    &__block {
        flex-direction: row;
        max-height: fit-content;
        margin-top: 150px;
        height: fit-content;
        width: 100%;
        padding: 0;    
    }

    &__title {
        color: $tws_coral;
        font-family: $font-handwritten;
        transform: rotate(-90deg);
        font-weight: 400;
        line-height: 49px;
        position: relative;
        font-size: 37px;
        z-index: 2;
        margin: 0px 0px 0px;
        padding: 0;
        width: 20%;
        top: 30px;
        white-space: nowrap;
    
        @include media ( ">=md" ) {
            line-height: 99px;
            font-size: 74px;
            left: -140px;
        }
    }

    &__img { 
        right: 16px;
        margin-right: 16px; 
        position: absolute;
        width: 80%;
        margin: auto;
        -webkit-filter: drop-shadow(16px 16px 0px $rose);
        filter: drop-shadow(16px 16px 0px $rose);
        top: 0px;

        @include media ( ">md" ) {
            max-width: 792px;
            width: 100%;
        }
    }

}

.textbox {
    background-color: $seashell;
    max-width: 100%;
    text-align: center;
    padding: 16px 24px;
    margin: 0px 0px;

    @include media ( ">md" ) {
        margin-left: 50%;
        z-index: 2;
    }

    &__brand-name {
        color: $tws_coral;
        font-family: $font-regular;
        text-transform: uppercase;
        padding-top: 84px;
    }

    &__header {
        font-family: $font-heading;
        color: $tws_black;
        font-weight: 300;
        line-height: 40px;
        font-size: 32px;
        margin: 0px;
    }

    &__info {
        font-family: $font-regular;
        color: $tws_black;
        width: 100%;
        font-size: 16px;
        line-height: 24px;

        @include media ( ">=md" ) {
            width: 386px;
            padding: 16px 64px;
        }
    }

    &__info-btn {
        margin: 16px 0px 64px;
    }
}