.footer {
    padding: 80px 32px 20px;
    background-color: $tws_blue;

    &__menu {
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-left: 0;
        margin-left: 0;
        max-width: 1264px;

        @include media ( ">md" ) {
            display: flex;
            flex-direction: row;
        }

        @include media ( ">=lg" ) {
            margin: auto;
            justify-content: left;
        }

        &-section {
            display: flex;
            flex-direction: column;
            margin: 0;
            width: 100%;

            @include media ( ">md" ) {
                width: 20%;
            }

            @include media ( ">=lg" ) {
                width: 25%;
            }

            &--narrow {
                @include media ( "<=md" ) {
                    width: 50%;
                }
                
            }
        }

        &-heading {
            color: $tws_white;
            font-family: $font-regular;
            font-size: 14px;
            white-space: nowrap;
            font-weight: 700;
            letter-spacing: 0.8px;

            @include media ( ">md" ) {
                margin-bottom: 0px;
            }
        }

        &-list {
            list-style: none;
            padding: 0px;

            &--hidden {
                @include media ( "<md" ) {
                    display: none;
                }
            }
        }

        &-row {
            display: flex;
            flex-direction: row;
            margin-bottom: 40px;
        }

        &-details {
            width: 172px;
            margin-right: 40px;
        }
    }

    &__link {
        color: $tws_white;
        font-family: $font-regular;
        font-size: 14px;
        padding: 6px 0px;
        cursor: pointer;

        @include media ( ">=lg" ) {
            max-width: 222px;
            white-space: nowrap;
        }

        @include media ( ">=xl" ) {
            max-width: 282px;
        }

        &:hover {
            text-decoration: underline;
        }

        &-off {
            color: $tws_white;
            font-family: $font-regular;
            font-size: 14px;
            padding: 0px 0px 12px;
            cursor: default;
            white-space: nowrap;

            @include media ( "<=md" ) {
                padding: 0px 20px 0px 0px;
            }
        }

        &-button {
            text-transform: uppercase;
            font-family: $font-regular;
            color: $tws_white;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            border: 1px solid $tws_white;
            padding: 0px 15px;
            width: fit-content;
            white-space: nowrap;

            &:hover {
                color: $tws_coral;
                border: 1px solid $tws_coral;
                cursor: pointer;
            }
        }

        &-app {
            max-height: 30px;
            width: fit-content;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__bottom {
        width: 100%;
        max-width: 1264px;
        color: $tws_white;
        font-family: $font-regular;
        font-size: 14px;
        display: flex;
        flex-direction: column;

        @include media ( ">sm" ) {
            justify-content: flex-start;
            flex-direction: row;
            flex-wrap: wrap;
        }

        @include media ( ">lg" ) {
            margin: auto;
            max-width: 1264px;
        }
    }

    &__terms {
        margin: 0px 24px 8px 0px;  

        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }

        &-copyright {
            white-space: nowrap;

            @include media ( ">md" ) {
                margin-left: auto;
                margin-right: 0;
            }
        }

        @include media ( ">md" ) {
            flex-direction: row;
        }
    }

    &__socials {
        padding-right: 10px;

        @include media ( "<=md" ) {
            padding-right: 30px;
            height: 20px;
        }
    }
}

.divider {
    height: 1px;
    background-color: $tws_white;
    opacity: 20%;
    margin-bottom: 16px;
    max-width: 1264px;
    margin-left: auto;
    margin-right: auto;

    &__collapse {
        display: block;
        width: 100%;

        @include media ( ">md" ) {
            display: none;
        }
    }

    &--hidden {
        @include media ( "<md" ) {
            display: none;
        }
    }
}

.company-name {
    display: inline-block;
}

.heading-container {
    display: flex;
    justify-content: space-between;

    @include media ( "<md" ) {
        cursor: pointer;
    }
}

.arrow-down {
    @include media ( ">md" ){
        display: none;
    } 
}

.menu-details {
    @include media ( "<=md" ) {
        display: flex;
        flex-direction: row;
    }
}

.open-menu {
    @include media ( "<md" ) {
        &::after {
            content: "";
            display: flex;
            flex-direction: column;
            position: absolute;
            height: 1px;
            background-color: $tws_white;
            max-width: 768px;
            opacity: 20%;
            margin-left: auto;
            margin-right: auto;
            width: 90%;
            margin-top: 55px;
        }

        &:active {
            .arrow-down {
                transform: rotate(180deg);
            }
        }
    }
}