.body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  overflow-x: hidden;

  &--active {
    overflow: hidden;
    position: fixed;
    height: 100%;
  }
}

* {
  scroll-behavior: smooth;
}

.control {
  text-align-last: right;

  &__option {
    text-align: center;
    position: relative;
    display: inline-block;
    cursor: pointer;
    height: 20px;
    text-align: center;
    margin: 14px 56px 0px 0px;

    @include media(">=md") {
      margin: 16px 56px 0px 0px;
    }

    @include media(">=lg") {
      margin: 24px 16px 0px 0px;
      height: 24px;
    }
  }
}

.link {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.button {
  font-family: $font-regular;
  text-transform: uppercase;
  color: $tws_white;
  background-color: $tws_blue;
  cursor: pointer;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  padding: 12px 24px;
  letter-spacing: 0.8px;
  border: 0;

  &:hover {
    background: $tws_coral;
  }
}

.container {
  max-width: 1264px;
  width: 100%;
  margin: 0 auto;
  height: 100%;
}

.heading {
  color: $tws_black;
  font-family: $font-heading;
  font-style: normal;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
  margin: 0px 16px;

  @include media(">=md") {
    font-size: 32px;
    line-height: 40px;
  }
}

.handwrittenTitle {
  color: $tws_coral;
  font-family: $font-handwritten;
  transform: rotate(-90deg);
  font-weight: 400;
  position: relative;
  font-size: 37px;
  z-index: 2;
  margin: 0px 0px 0px;
  padding: 0;
  width: 20%;
  white-space: nowrap;
}

.cardHeading {
  font-family: $font-heading;
  color: $tws_black;
  margin-bottom: 0;
}

.navigation {
  text-align: right;
  display: flex;
  justify-content: end;
}

#scrollBtn {
  position: fixed;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: $tws_blue;
  bottom: 80px;
  opacity: 40%;
  border: 1px solid $tws_white;
  z-index: 3;
  text-align: center;
  margin-right: 32px;

  &:hover {
    cursor: pointer;
  }

  img {
    margin-top: 40%;
  }
}

.background {
  transition: ease-in-out 0.6s;

  &.active {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
    background: rgba(0, 0, 0, 0.384);
    z-index: 5;
  }
}